<div style="background-color: #e3f2fd;">
    <ul class="nav container d-flex align-items-center mb-3">
        <li class="nav-item">
        <a class="nav-link" href="/"><h1 class="css-rainbow-text">Flask Feedback</h1></a>
        </li>
        {% if 'username' not in session %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="/login">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link text-dark" href="/users/{{session['username']}}">{{session['username']}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/logout">Logout</a>
        </li>
        {% endif %}
    </ul>
</div>