{% extends 'base.html' %}

{% block title %}Secret{% endblock %}

{% block content %}

{% include 'flash-alerts.html' %}

<h1 class="my-3">You made it!</h1>

<div>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
</div>

<form action="/users/{{user.username}}/delete" method="POST" class="my-3">
    <button class="btn btn-danger">Delete User</button>
</form>


<h3 class="mb-3 mt-5">Feedback</h3>

<div class="my-3"><a class="btn btn-primary" href="/users/{{user.username}}/feedback/add" role="button">Add New</a></div>

<hr>

{% for f in user.feedback[::-1] %}
<div class="my-3">
    <span><strong>{{f.title}}</strong></span><a href="/feedback/{{f.id}}/delete"><i class="fas fa-trash-alt text-danger mx-3"></i></a>
    <span class="d-block">{{f.content}}</span>
    <span class="text-muted">by {{f.username}}</span>
    <a href="/feedback/{{f.id}}/update"><span class="text-muted mx-3">edit</span></a>
</div>
{% endfor %}

{% endblock %}

